body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: red;
  padding: 10px;
}

.post-preview > a {
  color: black;
}

.error {
  color: red;
}
